<div class="container mt-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="navbar-text fw-bold fs-2 text-dark">Hospital Management System</span></a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-dark ms-2" %>
            <%= button_to "Delete my account", user_registration_path, method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-danger ms-2" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-dark ms-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <% if notice %>
    <div class="alert alert-success mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <h1 class="display-4 mt-5 mb-4 fs-4">Welcome, <%= current_user.email %></h1>
  <% else %>
    <h1 class="display-4 mt-5 mb-4 fs-4">Welcome to the Hospital Management System</h1>
  <% end %>

  <div class="container mt-5">
    <p style="color: green"><%= notice %></p>

    <h1 class="mb-4">Hospitals</h1>

    <div id="hospitals" class="list-group">
      <% @hospitals.each do |hospital| %>
        <div class="list-group-item">
          <%= render partial: 'hospitals/hospital', locals: { hospital: hospital } %>
          <% if user_signed_in? %>
            <div>
              <%= link_to "Show this hospital", hospital, class: "btn btn-info mt-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to 'New hospital', new_hospital_path, class: 'btn btn-primary mt-3' %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
  <% end %>
</div>
