<!-- app/views/main/index.html.erb -->
<h1>Welcome to Main Page</h1>

<%= link_to 'Hospitals', hospitals_path %><br>
<%= link_to 'Doctors', doctors_path %><br>
<%= link_to 'Patients', patients_path %><br>
<%= link_to 'Appointments', appointments_path %><br>
<%= link_to 'Medical Records', medical_records_path %><br>
