<div id="<%= dom_id medical_record %>">
  <p>
    <strong>Doctor:</strong>
    <%= medical_record.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= medical_record.patient_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= medical_record.date %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= medical_record.diagnosis %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= medical_record.treatment %>
  </p>

</div>
