<%= form_with model: @medical_record, local: true do |f| %>

  <% if @medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_record.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
        <% @medical_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-5">
    <h1 class="mb-4">New medical record</h1>

    <%= render "form", medical_record: @medical_record %>
    <br>
    <%= link_to "Back to medical records", medical_records_path, class: 'btn btn-secondary' %>
    <%= link_to 'Back to Main Page', root_path, class: 'btn btn-dark' %>
  </div>
<% end %>