<div class="container mt-5">
  <h1 class="mb-4">Editing Patient</h1>

  <%= form_with(model: @patient, local: true) do |f| %>
    <% if @patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this hospital from being saved:</h2>

        <ul>
          <% @patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "form", patient: @patient %>
  <% end %>

  <div class="d-flex">
    <%= link_to 'Back to patients', hospitals_path, class: 'btn btn-secondary' %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
  </div>
</div>
