<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <h1 class="mb-4">Patients</h1>

  <div id="patients" class="list-group">
    <% @patients.each do |patient| %>
      <div class="list-group-item">
        <%= render patient %>

        <div>
          <%= link_to "Show this patient", patient, class: "btn btn-info mt-2" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'New patient', new_patient_path, class: 'btn btn-primary mt-3' %>
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
</div>
