<%= form_with model: @patient, local: true do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-5">
    <h1 class="mb-4">New Patient</h1>

    <%= render "form", patient: @patient %>

    <%= link_to 'Back to patients', hospitals_path, class: 'btn btn-secondary' %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
  </div>
<% end %>