<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1>Patient Details</h1>

  <%= render @patient %>

  <div class="d-flex align-items-center gap-2">
    <%= link_to 'Edit this patient', edit_patient_path(@patient), class: 'btn btn-primary' %>
    <%= link_to 'Back to patients', patients_path, class: 'btn btn-secondary' %>
    <%= button_to 'Destroy this patient', patient_path(@patient), method: :delete, class: 'btn btn-danger' %>
    <%= link_to 'Back to Main Page', root_path, class: 'btn btn-dark' %>
  </div>
</div>
