<div id="<%= dom_id hospital %>">
  <p>
    <strong>Name:</strong>
    <%= hospital.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hospital.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hospital.city %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= hospital.phone_number %>
  </p>

</div>
