<div id="<%= dom_id hospital %>">
  <p>
    <strong>Title:</strong>
    <%= hospital.title %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hospital.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hospital.city %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= hospital.telephone %>
  </p>

</div>
