<div id="<%= dom_id doctor %>" class="mb-3">
  <p>
    <strong>Hospital:</strong>
    [<%= doctor.hospital_id %>]
    <%= doctor.hospital.title %>,
    <%= doctor.hospital.country %>,
    <%= doctor.hospital.city %>,
    <%= doctor.hospital.telephone %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= doctor.phone_number %>
  </p>
</div>
