<div id="<%= dom_id doctor %>">
  <p>
    <strong>Hospital:</strong>
    <%= doctor.hospital_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= doctor.phone_number %>
  </p>

</div>
