<%= form_with(model: doctor) do |form| %>
  <% if doctor.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
        <% doctor.errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :hospital_id, class: 'form-label' %>
    <%= form.collection_select :hospital_id, Hospital.all, :id, ->(hospital) { "#{hospital.title}, #{hospital.country}, #{hospital.city}, #{hospital.telephone}" }, { prompt: 'Select a hospital' }, { class: 'form-select' } %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :specialization, class: 'form-label' %>
    <%= form.text_field :specialization, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
