<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :doctor_id, class: 'form-label' %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, ->(doctor) { "#{doctor.name}, #{doctor.specialization}, #{doctor.email}, #{doctor.phone_number}" }, { prompt: 'Select a doctor' }, { class: 'form-select' } %>
  </div>

  <% if appointment.patient.nil? %>
    <div class="mb-3">
      <%= form.label :patient_id, class: 'form-label' %>
      <%= form.collection_select :patient_id, Patient.all, :id, ->(patient) { "#{patient.name}, #{patient.gender}, #{patient.date_of_birth}" }, { prompt: 'Select a patient' }, { class: 'form-select' } %>
    </div>
  <% else %>
    <%= form.hidden_field :patient_id, value: appointment.patient.id %>
  <% end %>

  <div class="mb-3">
    <%= form.label :date, class: 'form-label' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Create Appointment', class: 'btn btn-primary' %>
  </div>
<% end %>
