<div class="container mt-5">
  <h1 class="mb-4">Editing Appointment</h1>

  <%= form_with(model: @appointment, local: true) do |f| %>
    <% if @appointment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this hospital from being saved:</h2>

        <ul>
          <% @appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "form", appointment: @appointment %>
  <% end %>

  <div class="d-flex">
    <%= link_to "Back to appointments", appointments_path, class: "btn btn-secondary" %>
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
  </div>
</div>