<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <h1 class="mb-4">Appointments</h1>

  <div id="appointments" class="list-group">
    <% @appointments.each do |appointment| %>
      <div class="list-group-item">
        <%= render appointment %>

        <div>
          <%= link_to "Show this appointment", appointment, class: "btn btn-info mt-2" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'New appointment', new_appointment_path, class: 'btn btn-primary mt-3' %>
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-dark" %>
</div>
